.logo {
    cursor: pointer;
    width: 65%;
}

.header {
    padding: 10px;
    background: #272930;
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.center {
    margin: auto;
}
