.title {
    font-size: 36px;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 26px;
    margin-bottom: 25px;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.button {
    text-align: center;
    font-weight: 700;
    background-size: 200% auto;
    cursor: pointer;
    border: none;
    color: white;
}

.button-small {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.button-large {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.pill {
    border-radius: 30px;
}

.primary {
    background-image: linear-gradient(to right, #941BFF 0%, #F185CD 51%, #941BFF 100%);
}

.secondary {
    background-image: linear-gradient(to right, #2DCDD8 0%, #68E3B3 51%, #2DCDD8 100%);
}

.default {
    background-color: #272930;
}

.success {
    background-color: #7ED321;
}

.gray {
    background-color: #ECEFF1;
}

.default-text {
    color: #303030;
}

.blue-text {
    color: #3380FF;
}

.red-text {
    color: #D0021B;
}

.white-text {
    color: white;
}

.custom-underline {
    background: linear-gradient(to right, #3380FF, #3380FF) no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
    color: #3380FF;
    cursor: pointer;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
    .hide-mobile {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    .button-small {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-top: 3px;
    }
}